@import url('https://fonts.googleapis.com/css2?family=Jaro&display=swap');

/* ---- Headings ---- */

.brand, .site-title {
  font-family: "Jaro", sans-serif;
  font-weight: 600;
}

/* ---- Images ---- */